h1 {
    color:white;
    background-color:cornflowerblue;
  }

  div.box1{
    padding: 0.5em 1em;
    background: -moz-linear-gradient(#ffb03c, #ff708d);
    background: -webkit-linear-gradient(#ffb03c, #ff708d);
    background: linear-gradient(to right, #ffb03c, #ff708d);
    color: #FFF;
    width:200px;
    height:200px;
    float: left;
    margin: 20px; 
}
div.box1 p {

    padding: 20px;
}

}
